@import 'variables';
@import 'mixins';

/********************************/
/*        Global css            */
/********************************/
html, body{
  font-family: 'Roboto', sans-serif;
  font-size: @default-size;
}

/********************************/
/*          Main classes        */
/********************************/

// Structure and positioning
.inline-block{
  display: inline-block;
}
.no-decoration{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

// Main Components styles
.xebia-grey-button{
  color: white;
  background-color: @xebia-medium-grey;
  .no-decoration
  &:hover{
    background-color: @xebia-purple;
  }
}

.xebia-brown-link{
  .no-decoration;
  ._link-color(@xebia-brown, @xebia-purple);
}
.xebia-purple-link{
  .no-decoration;
  ._link-color(@xebia-purple, @xebia-medium-grey);
}