@import 'variables';
@import 'mixins';

@import '../pages/homePage/homePage';

/********************************/
/*        Global css            */
/********************************/
body{
  font-family: 'Roboto', sans-serif;
  font-size: $default-font-size;
}

/********************************/
/*          Main classes        */
/********************************/

// Structure and positioning
.inline-block{
  display: inline-block;
}


// Main Components styles
.xebia-grey-button{
  color: white;
  background-color: $xebia-medium-grey;
  text-decoration: none;
}
a.xebia-grey-button:hover{
  background-color: $xebia-purple;
}
