// Define SASS variables here

// Colors
$xebia-purple: rgb(108,29,95);
$xebia-medium-grey: #E1E1E1;

// Images
$footer-logo-xebia: './assets/images/footer-logo-xebia.png';
$logo-alliance-xebia-long: './assets/images/logo-alliance-xebia-long.png';