/********************************/
/*            Sizes             */
/********************************/
@default-font-size: 16px;


/********************************/
/*           Colors             */
/********************************/
@xebia-purple: rgb(108,29,95);
@xebia-medium-grey: #E1E1E1;