// TODO imported the former branch styles
.home-timeline
  padding: 0 15px 35px;

.home-timeline-content-item
  margin-bottom: 20px;

.home-timeline-content-item-year
  position: relative;
  z-index: 10;

  .year-value
    position: relative;
    z-index: 2;
    width: 100%;
    background-color: @xui-purple1;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 8px;

  .home-timeline-line
    position: absolute;
    z-index: 1;
    height: 85px;
    width: 2px;
    top: 0;
    left: 50%;
    background: @xui-light-grey;

.home-timeline-content-item-description
  border: 1px solid @xui-light-grey;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  white-space: pre-line;
  align-items: center;

  .home-timeline-img
    width: 100px;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;

  .link
    color: @xui-cyan1;
    font-weight: bold;

  &:after
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: -20px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right-color: white;

  &:before
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: -22px;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-right-color: #E6E6E6;