.Timeline-item
  clearfix()

.Timeline-item-year
  width (1/6*100)%
  float left

.Timeline-item-year-value
  font__useTitleLight 24px
  color color__$title
  text-align center
  .size-class-not-width-compact &
    font-size (font__$sectionTitleDesktopFontSize)px

.Timeline-item-year-line
  width 2px
  background-color red
  height 100px
  z-index 1000
  left 'calc(%s - %s)' % (50% 1px)

.Timeline-item-block
  clearfix()
  width 'calc(%s - %s)' % ((5/6*100)% 2px)
  float left
  padding 10px 0
  border 1px solid red

.Timeline-item-block-image
  width 'calc(%s - %s)' % ((1/3*100)% 1px)
  border-right 1px solid red
  float left

.Timeline-item-block-description
  width 'calc(%s - %s)' % ((2/3*100)% 40px)
  padding 0 20px
  display table
  float left
  height 100%
  & span
    display table-cell
    vertical-align middle