@import '../../../../xebiaUI/styles/mixins';
@import '../../../../xebiaUI/styles/variables';
@import (reference) '../../../../xebiaUI/styles/main';

.CardLink{
  background-color: @xui-purple1;
  padding:10px;
  margin: 5px 0;
  text-align: center;
}

.CardLink-body-link{
  .no-decoration;
  ._color-withHover(white, @xui-medium-grey);
}