@import '../../../styles/mixins';
@import '../../../styles/variables';

.card-link{
  background-color: @xebia-purple;
  padding:10px;
  margin: 5px 0;
  text-align: center;
}

.card-link-body a{
  ._link-color(white, @xebia-medium-grey);
}