@import (reference) '../../styles/main';
@import '../../styles/variables';

.xuiFaqItem{

  .xuiFaqItem-header {
    height: 60px;
    background-color: @xui-purple1;
    position:relative;
    .xuiFaqItem-picture {
      display: none;
      @media (min-width: @screen-tablet) {
        display: inline-block;
      }
    }

    .xuiFaqItem-title {
      font-size: 14px;
      display: inline-block;
      line-height: 60px;
      white-space: nowrap;
      .xui-menu;
      color:white;
      margin-left: 15px;
      @media (min-width: @screen-tablet) {
        text-transform: uppercase;
      }
    }

    .xuiFaqItem-toggle {
      display:inline-block;
      position:absolute;
      right:20px;
      top:17.5px;
      height: 25px;
      width:25px;
      background: url('../../../assets/images/integration/icon-arrow-up.svg') center no-repeat;
    }
  }

  .xuiFaqItem-body{
    background-color: white;
    .xuiFaqItem-answer {
      padding: 20px 10px;
      border-bottom: 1px solid @xui-light-grey;
      :last-child {
        border:none;
      }
      .xuiFaqItem-answer-title {
        .xui-title;
        font-size: 14px;
      }
    }
  }

}