_statColor = color__$blue
_textColor = color__$blue

_statFontSize = font__$cardTitleFontSize
_textFontSize = font__$cardTextFontSize

.StatCard
  &.StatCard-vertical
    background-color white
    border-radius 0 0 5px 5px
  &.StatCard-horizontal
    display table-row

.StatCard-inner-wrapper
  padding 0 10px 10px 10px
  .StatCard-horizontal &
    height 100%

.StatCard-picto-wrapper
  padding-bottom 15px
  .StatCard-vertical &
    height (100*2/3) %
    width 100%
    border-bottom 1px solid color__$sectionEven
  .StatCard-horizontal &
    height 100%
    width 25%

.StatCard-picto
  .StatCard-vertical &
    margin-left auto
    margin-right auto
    display block

.StatCard-stat-text-wrapper
  .StatCard-vertical &
    height (100*1/3) %
  .StatCard-horizontal &
    width 75%
    height 100%
    display table-cell
    vertical-align middle

.StatCard-stat
  color _statColor
  font__useTitleRegular _statFontSize
  .StatCard-vertical &
    padding-top 10px
    text-align center

.StatCard-text
  padding-top 5px
  color _textColor
  font__useTextLight _textFontSize
  .StatCard-vertical &
    text-align center
    height 32px
    display table
    width 100%
    & span
      display table-cell
      vertical-align middle
