_statColor = color__$blue
_textColor = color__$blue

_statFontSize = font__$cardTitleFontSize
_textFontSize = font__$cardTextFontSize

_statPictoHorizontalPadding = 15

.StatCard
  &.StatCard-vertical
    background-color white
    border-radius 0 0 5px 5px

.StatCard-inner-wrapper
  .StatCard-horizontal &
    display table
  .StatCard-vertical &
    padding 0 10px

.StatCard-picto-wrapper
  .StatCard-horizontal &
    width 70px
    float left
    display table-cell
    vertical-align middle
  .StatCard-vertical &
    padding 15px 0
    border-bottom 1px solid color__$sectionEven

.StatCard-picto
  .StatCard-vertical &
    width 50%
    display block
    margin-left auto
    margin-right auto

.StatCard-stat-text-wrapper
  .StatCard-horizontal &
    padding-left 20px
    display table-cell
    vertical-align middle
  .StatCard-vertical &
    padding 10px 0

.StatCard-stat
  color _statColor
  font__useTitleRegular _statFontSize
  .StatCard-vertical &
    text-align center

.StatCard-text
  color _textColor
  font__useTextLight _textFontSize
  .StatCard-vertical &
    text-align center
    display table
    padding-top 10px
    width 100%
    & span
      display table-cell
      vertical-align middle
