_grid(boxSelector, widthInColumns, numberOfColumns, gutterInColumns, rowGutter = 0, gutterProperty = 'margin')
    numberOfGutter = (numberOfColumns - 1)
    availableColumns = widthInColumns - (numberOfGutter*gutterInColumns)
    columnInColumns = availableColumns / numberOfColumns

    columnWidth = ((columnInColumns / widthInColumns) * 100%)
    gutterWidth = ((gutterInColumns / widthInColumns) * 100%)
    areaWidth = widthInColumns * layout__$gridColumnWidth

    &:before, &:after
        content ""
        display table

    &:after
        clear both

    {boxSelector}
        zoom 1
        display block
        float left
        width columnWidth
        {gutterProperty}-bottom rowGutter

        +{boxSelector}
            {gutterProperty}-left gutterWidth

        &:nth-child({numberOfColumns}n+1)
            {gutterProperty}-left 0
            clear both

        for index in (1..(numberOfColumns))
            &:nth-child({numberOfColumns}n+{index})
                &:nth-last-child(-n+{(numberOfColumns - index + 1)})
                    {gutterProperty}-bottom 0
