layout__$gridNumberOfColumns = 32
layout__$gridUsefulWidth = 1400

layout__$gridSectionNumberOfColumns = 30
layout__$gridContainerNumberOfColumns = 16
layout__$gridCompactContainerNumberOfColumns = 12

/*----------------------*/

layout__break()
	display block
	width 100%
	height 0
	clear both

/*----------------------*/

layout__gridBlockTab(tab = false)
	if tab is not false
		margin-left (tab / layout__$gridNumberOfColumns * 100%)

layout__gridBlock(numberOfColumns = 1, tab = false)
	display block
	max-width 100%
	
	if numberOfColumns
		_width = numberOfColumns / layout__$gridNumberOfColumns * 100%
		width _width
	
	layout__gridBlockTab(tab)

layout__centeredGridBlock(numberOfColumns = 1)
	layout__gridBlock(numberOfColumns)
	margin-left auto
	margin-right auto

/*---------------------*/

layout__$sectionWidth = layout__$gridUsefulWidth
layout__$containerWidth = 12 / layout__$gridNumberOfColumns / layout__$gridNumberOfColumns

layout__centered(width = false)
	display block
	max-width 100%
	margin-left auto
	margin-right auto
	
	if width
		width width px

$layout__centered
	layout__centered()

layout__section()
	layout__centered(layout__$sectionWidth)

$layout__section
	layout__section()
	
layout__container()
	layout__centered(layout__$containerWidth)

$layout__container
	layout__container()