xebiaUI__section(oddOrEven = 'even', borderColor = color__$greyMedium)
  if oddOrEven == 'odd'
    background-color: color__$sectionOdd
  else
    if oddOrEven == 'even'
      background-color: color__$sectionEven
    else
      background-color: oddOrEven
  
  border-top 1px solid borderColor
  border-bottom 1px solid borderColor
  padding-top 60px
  padding-bottom 80px
  
  .size-class-width-compact &
    padding-bottom 35px
    padding-top 35px

xebiaUI__section_mobile()

xebiaUI__titleBlock(mainSelector, secondarySelector, fontSizeMain = font__$sectionTitleDesktopFontSize, fontSizeSecondary = font__$sectionBaselineDesktopFontSize, font__useMixinMain = font__useTitleBold, font__useMixinSecondary = font__useTextLight)
  {mainSelector},
  {secondarySelector}
    display block
  
  {mainSelector}
    _loadMixin = font__useMixinMain
    _loadMixin(fontSizeMain)
    color color__$title
    font__line-height 45px

  //{mainSelector}+{secondarySelector}
    //margin-top 2px

  {secondarySelector}
    _loadMixin = font__useMixinSecondary
    _loadMixin(fontSizeSecondary)
    color color__$textLight

xebiaUI__text(selector, font__useMixin = font__useTextLight, font__useMixinStrong = font__useTextBold)
  {selector}
    _loadMixin = font__useMixin
    _loadMixin(font__$textFontSize)
    color color__$text
    font__line-height font__$textLineHeight
    
    > strong
      _loadMixin = font__useMixinStrong
      _loadMixin()

xebiaUI__simplePageLayout(
  selectorPrefix = '',
  separator = '-',
  usefullWidthBoxSelector = 'usefull-width-box',
  marginBoxSelector = 'margin-box',
  contentLayerSelector = 'content-layer'
)
  {selectorPrefix}{separator}{usefullWidthBoxSelector}
    layout__outerBox()
  {selectorPrefix}{separator}{marginBoxSelector}
    layout__innerBox()

  {selectorPrefix}{separator}{contentLayerSelector}
    padding-top 80px

  .size-class-width-compact
    {selectorPrefix}{separator}{contentLayerSelector}
      padding-top 40px