<div class="home">
    <div class="jumbotron">
        <h1>{{home.pageName}}</h1>
    </div>

    <div class="row">
        <card-link ng-repeat="page in home.websitePages | orderBy: 'order'"
                   class="col-md-4 col-xs-6"
                   link="page.state"
                   link-text="page.name">
        </card-link>
    </div>

    <br/>

    <xui-button color="white" on-click="home.openModal()">Ouvre une popup</xui-button>

    <div>
        Liste de noms retournés par le service et mis en majuscules par le filtre:
        <ul>
            <li ng-repeat="name in home.names | ExampleFilter">{{name}}</li>
        </ul>
    </div>
</div>