@import '../../../xebiaUI/styles/variables';
@import (reference) '../../../xebiaUI/styles/main';

.home {

  .home-extension {
    width: 100vw;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6a205f+0,6a205f+49,06a99c+49,06a99c+100 */
    background: #6a205f; /* Old browsers */
    background: -moz-linear-gradient(left, #6a205f 0%, #6a205f 49%, #06a99c 49%, #06a99c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #6a205f 0%,#6a205f 49%,#06a99c 49%,#06a99c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #6a205f 0%,#6a205f 49%,#06a99c 49%,#06a99c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a205f', endColorstr='#06a99c',GradientType=1 ); /* IE6-9 */

    .xuiShowcase-rightPanel {
      @media (max-width: @screen-phone) {
        height: 260px;
      }
      @media (min-width: @screen-phone) and (max-width: @screen-tablet) {
        height: 400px;
      }
      @media (min-width: @screen-phone) and (max-width: @screen-tablet) {
        height: auto;
      }

      .home-carousel {
        .carousel-indicators {
          bottom: 85px;
          left: 148px;
          width: auto;
          margin-left: 0;

          li {
            margin-right: 4px;
            margin-left: 4px;
            border-color: @xui-cyan1;
          }
          .active {
            background-color: @xui-cyan1;
            border-color: @xui-cyan1;
          }
        }

        .carousel-inner {
          overflow: visible;

          .home-carousel-img {
            position: relative;
            left: -150px;
            @media (max-width: @screen-phone) {
              height: 290px;
              left: -90px;
              top: -30px;
            }
            @media (min-width: @screen-phone) and (max-width: @screen-tablet) {
              height: 290px;
              top: 35px;
              left: 0;
            }
            @media (min-width: @screen-tablet) and (max-width: @screen-desktop) {
              height: 360px;
              top: 40px;
            }
          }

          .home-carousel-content {
            position: absolute;
            top: 0;
            left: 110px;
            padding: 30px 0;
            .xui-body1;
            color: white;
            @media (max-width: @screen-phone) {
              color: @xui-purple1;
            }
            
            .bold {
              .xui-body2;
              color: white;
              @media (max-width: @screen-phone) {
                color: @xui-purple1;
              }
            }

            .home-carousel-content-headline1 {
              padding-bottom: 5px;
            }
            .home-carousel-content-headline2 {
              padding-bottom: 20px;
            }
            .home-carousel-link {
              .xui-body1;
              color: @xui-cyan1;
            }
          }
        }

        .home-carousel-button {
          position: relative;
          bottom: 48px;
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .home-citations {
    .home-citations-title {
      .xui-title;
    }
    .home-citations-content {
      height: 100px;
    }
  }

  .home-numbers {
    background-color: @xui-light-grey;

    .home-numbers-title {
      .xui-title;
      padding-left: 15px;
    }

    .home-numbers-cards-item {
      margin-bottom: 15px;
    }
  }
}
