@import (reference) '../../styles/main';
@import '../../styles/variables';

.xuiShowcase{
  background: url('../../../assets/images/home/background-paris-xebia-home.jpg');
  background-size: cover;
  height: 400px;

  @media (max-width: @screen-phone) {
    background-size: cover;
    height: auto;
    background: no-repeat center center;
    margin-bottom: 50px;
  }

  @media (min-width: @screen-phone) and (max-width: @screen-tablet) {
    background-size: cover;
    height: auto;
    background: no-repeat center center;
  }

  .xuiShowcase-leftPanel {
    padding: 40px 130px 40px 10px;
    background-color: @xui-purple1;
    opacity: 0.7;
    height: 400px;

    @media (max-width: @screen-phone) {
      opacity: 1;
      padding: 30px 15px;
      height: auto;
    }

    @media (min-width: @screen-phone) and (max-width: @screen-tablet) {
      opacity: 1;
      padding: 60px 15px;
      height: auto;
    }

    @media (max-width: 1200px) and (min-width: @screen-desktop) {
      padding: 40px 90px 40px 10px;
    }

    .xuiShowcase-title {
      .xui-display1;
      text-transform: uppercase;
      line-height: initial;
      margin-bottom: 20px;

      @media (max-width: @screen-phone) {
        margin-bottom: 0;
      }
    }

    .xuiShowcase-mainDescription {
      .xui-headline1;
      line-height: initial;
    }
    .xuiShowcase-subDescription {
      .xui-headline2;
      line-height: initial;
    }
  }

  .xuiShowcase-rightPanel{
    color: white;
  }

}