@import (reference) '../../styles/main';
@import '../../styles/variables';

.xuiShowcase{
  background-size: cover;

  @media (max-width: @screen-phone) {
    height: auto;
    margin-bottom: 50px;
  }

  @media (max-width: @screen-tablet) {
    height: auto;
  }

  .xuiShowcase-leftPanel {
    background-color: @xui-purple1;
    opacity: 1;
    padding: 40px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: @screen-tablet){
      opacity: 0.7;
      height: 360px;

      &.noBackground{
        opacity: 1;
      }
    }

    .xuiShowcase-title {
      .xui-display1;
      text-transform: uppercase;
      line-height: initial;
      margin-bottom: 20px;

      @media (max-width: @screen-phone) {
        margin-bottom: 0;
      }
    }

    .xuiShowcase-mainDescription {
      .xui-headline1;
      line-height: initial;
    }
    .xuiShowcase-subDescription {
      .xui-headline2;
      line-height: initial;
    }
  }

  .xuiShowcase-rightPanel {
    color: white;
    height: 260px;

    @media (min-width: @screen-tablet) {
      height: 360px;
    }
  }
}