@import (reference) '../../../../xebiaUI/styles/main';
@import '../../../../xebiaUI/styles/variables';

.XebiaHeader {
  padding: 0 12px;
  @media (max-width: @screen-tablet) {
    margin-bottom: 20px;
  }
  img {
    width: 341px;
  }
}

.XebiaHeader-social {

  .logo-index {
    z-index: 1;

    .XebiaHeader-social-links {

      .nav-link {
        padding-top: 30px;
        padding-bottom: 25px;
        .xui-social;
      }

      .navbar-divider {
        height: 30px;
        margin: 25px 16px 0 25px;
        border-right: 1px solid;
        color: @xui-cyan1;
      }
    }

  }
}

.XebiaHeader-navbar-toggle {
  padding: 0;
  margin-right: 0;
}

.XebiaHeader-navbar {
  min-height: 0;
  border-top: 1px solid silver;
  position: relative;
  top: -3px;

  .navbar {
    margin-bottom: 0;
    padding: 0;
  }

  .XebiaHeader-navbar-links {
    @media (min-width: @screen-tablet) {
      display: flex;
      width: 100%;
    }

    .nav-item {
      flex-grow: 1;
      .nav-link {
        .xuiLink-grey;
        padding: .425rem .6rem;
        text-align: center;
      }
    }

    .XebiaHeader-navbar-links-join {
      background-color: @xui-cyan1;
      .nav-link {
        .xuiLink--white;
        padding: .425rem 1rem;
      }
    }
  }
}




