<header class="XebiaHeader">

    <div class="XebiaHeader-social row">
        <div class="col-md-offset-2 col-md-20 logo-index">
            <a class="XebiaHeader-social-brand" ui-sref="home">
                <img src="../../../../assets/images/logo-xebia-vismavie.svg" alt="Xebia logo">
            </a>

            <ul class="XebiaHeader-social-links nav navbar-nav pull-right hidden-xs">
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="home"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="home"><i class="fa fa-linkedin"></i></a>
                </li>
                <li class="navbar-divider test"></li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" ui-sref="home">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="showcase">Xebia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="showcase">Xebia Training</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="home">Xebia TV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="home">Contact</a>
                </li>
            </ul>

            <button type="button" class="XebiaHeader-navbar-toggle navbar-toggle collapsed pull-right"
                    data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars fa-2x"></i>
            </button>
        </div>
    </div>

    <div class="XebiaHeader-navbar collapse navbar-collapse row" id="header-menu">
        <nav class="col-md-offset-2 col-md-20 navbar">
            <div class="container-fluid">
                <ul class="XebiaHeader-navbar-links nav navbar-nav">
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="home">Home</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="values">Nos valeurs</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="passions">Nos passions</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="creations">Nos créations</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="boostYourCareer">Votre carrière</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="yourDebut">Votre intégration</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" ui-sref="visit3D">Visite 3D</a>
                    </li>
                    <li class="XebiaHeader-navbar-links-join nav-item">
                        <a class="nav-link" ui-sref="home">Nous rejoindre</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</header>