<header class="XebiaHeader">
    <nav class="XebiaHeader-navbar navbar navbar-light" role="navigation">
        <a class="navbar-brand" ui-sref="home">
            <img src="http://xebia.com/images/logo.svg" alt="Xebia logo">
        </a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item" ui-sref-active="active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="showcase">Xebia Components</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Xebia TV</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
            </li>
        </ul>
    </nav>
</header>