<header class="XebiaHeader">

    <div class="XebiaHeader-country">Xebia France</div>

    <div class="XebiaHeader-social row">
        <div class="col-md-offset-1 col-md-10">
            <a class="XebiaHeader-social-brand" ui-sref="home">
                <img src="http://xebia.com/images/logo.svg" alt="Xebia logo">
            </a>

            <ul class="XebiaHeader-social-links nav navbar-nav pull-xs-right">
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li class="navbar-divider test"></li>
                <li class="nav-item" ui-sref-active="active">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" ui-sref="showcase">Xebia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Xebia TV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="XebiaHeader-navbar">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <ul class="XebiaHeader-navbar-links nav navbar-nav">
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" href="#">Nos valeurs</a>
                    </li>
                    <li class="nav-item" ui-sref-active="active">
                        <a class="nav-link" href="#">Nos passions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nos créations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Votre carrière</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Votre intégration</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Visite 3D</a>
                    </li>
                    <li class="XebiaHeader-navbar-links-join nav-item">
                        <a class="nav-link" href="#">Nous rejoindre</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</header>