@import (reference) '../../../../xebiaUI/styles/main';
@import '../../../../xebiaUI/styles/variables';

.XebiaHeader {
  img {
    width: 130px;
  }
}

.XebiaHeader-country {
  background-color: #6c1d5f;
  color: white;
  text-align: right;
  padding: 4px 10%;
  font-size: @small-size;
}

.XebiaHeader-social {
  padding: 30px 0;
}

.XebiaHeader-social-links {

  .nav-link {
    color: @xui-cyan1;
  }

  .navbar-divider {
    height: 20px;
    margin: 8px 16px;
    border-right: 1px solid;
    color: @xui-cyan1;
  }
}

.XebiaHeader-navbar-links {
  .nav-link {
    .xuiLink-grey;
    padding: .425rem .6rem;
  }
}

.XebiaHeader-navbar-links-join {
  background-color: @xui-cyan1;
  .nav-link {
    .xuiLink--white;
    padding: .425rem 1rem;
  }
}