<uib-accordion close-others="false" class="xuiFaq">
    <uib-accordion-group class="xuiFaqItem" ng-repeat="faqItem in $ctrl.faqItems track by $index" is-open="faqItem.isOpen">
        <uib-accordion-heading ng-click="faqItem.isOpen = !faqItem.isOpen">
            <div class="question-index hidden-xs">
                {{$index+1}}
            </div>
            <div class="xuiFaqItem-picture hidden-xs">
                <img ng-src="{{faqItem.headerPicture}}" />
            </div>
            <div class="xuiFaqItem-title">{{ faqItem.question }}</div>
            <div class="xuiFaqItem-toggle"></div>
        </uib-accordion-heading>
        <div class="xuiFaqItem-body">
            <div ng-include="faqItem.answersTemplate"></div>
        </div>
    </uib-accordion-group>
</uib-accordion>