<div class="ourValues">

    <!-- Showcase -->
    <xui-showcase class="showcase"
                  title="values.showCaseTitle"
                  main-description="values.showCaseMainDescription">

        <!--Showcase right panel-->
        <div class="showcase-image"></div>
    </xui-showcase>

    <div class="peopleFirst row">
        <div class="col-md-offset-1 col-md-22 col-xs-24">
            <h1>People First</h1>
            <div class="peopleFirst-content col-md-offset-1 col-md-22 col-xs-24">
                <iframe class="video" width="400" height="250"
                        ng-src="{{values.trustSrc(values.wording.peopleFirst.videoSrc)}}" frameborder="0"
                        allowfullscreen></iframe>
                <div class="article">
                    <div class="article-title-desc">{{values.wording.peopleFirst.titleDesc}}</div>
                    <div class="article-description">{{values.wording.peopleFirst.description}}</div>
                    <div class="article-author">
                        {{values.wording.peopleFirst.author}},
                        <span class="article-job">{{values.wording.peopleFirst.job}}</span>
                        <span class="article-place">{{values.wording.peopleFirst.place}}</span>
                    </div>
                    <div class="article-link">
                        <img src="/assets/icons/link-external.svg" alt="">
                        <a href="{{values.wording.peopleFirst.articleLink}}" target="_blank">Lien vers l'article</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sharingKnowledge row">
        <div class="col-md-offset-1 col-md-22">
            <h1>Sharing Knowledge</h1>

            <div class="sharingKnowledge-cards col-md-offset-1 col-md-22 col-xs-24">
                <div class="row">
                    <div class="sharingKnowledge-cards-item col-xs-24 col-sm-12 col-md-8" ng-repeat="item in values.sharingKnowledgeItems">
                        <img class="sharingKnowledge-cards-item-img" ng-src="/assets/{{item.img}}">
                        <div class="sharingKnowledge-cards-item-container">
                            <div class="sharingKnowledge-cards-item-title">{{item.title}}</div>
                            <div class="sharingKnowledge-cards-item-description">{{item.content}}</div>
                            <div class="sharingKnowledge-cards-item-button">
                                <xui-button color="'purple'" on-click="">En savoir plus</xui-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="quality-compromise">
    <div class="quality row">
        <div class="col-md-offset-1 col-md-22">
            <h1>Quality without compromise</h1>
        </div>
    </div>

    <div class="quality-content col-md-offset-1 col-md-22 col-xs-24">
      <div class="col-sm-8 process-image">
        <img src="../../../assets/images/values/198conference.jpg" alt="Quality without compromise" width="100%"/>
      </div>
        <div class="col-sm-16">
              <p>En tant que crafts(wo)men, les Xebians sont vigilants à la mise en place de bonnes pratiques de développement sur les projets :</p>
            <div class="row question" ng-repeat="item in values.qualityWithoutCompromise">
                <div class="col-xs-2 quality-bullet">
                    <div class="question-index">{{item.number}}</div>
                </div>
                <div class="col-xs-22">{{item.content}}</div>
            </div>
        </div>
    </div>
</div>

<div class="sharingKnowledge row">
    <div class="customerIntimacy row">
        <div class="col-md-offset-1 col-md-22">
            <h1>Customer intimacy</h1>
        </div>
    </div>
    <div class="col-md-offset-1 col-md-22 col-xs-24">
        <div class=" col-md-offset-1 col-md-22 col-xs-24 content-testimonie">
          <div class="col-md-6 background-img-testimonie"><img src="../../../assets/images/values/198conference.jpg" alt="Quality without compromise" width="100%"/></div>
            <div class="col-md-17">
            <p class="content-txt-testimonie">Pour simplifier les montées de version de Fnac.com, l’installation d’outils s’avère indispensable, mais pas suffisante. Le site de e-commerce a fait appel à Xebia pour dépasser les « artefacts de l’agilité » et d’instiller une culture Devops dans toute l’entreprise.</p>
            
            <div class="col-xs-1">
            <div class="bullet-link"><i class="fa fa-link" aria-hidden="true"></i></div>
            </div>

            <a class="content-link-testimonie" href="http://www.silicon.fr/fnac-devops-limite-pas-outils-162675.html?utm_content=buffer09d3f&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer#uRyvYdw5HQah6eUk.99http://buff.ly/2fg8645" target="_blank">Lien vers l'article</a>
            </div>
        </div>

        <div class=" col-md-offset-1 col-md-22 col-xs-24 content-testimonie">
          <div class="col-md-6 background-img-testimonie"><img src="../../../assets/images/values/198conference.jpg" alt="Quality without compromise" width="100%"/></div>
            <div class="col-md-17">
            <p class="content-txt-testimonie">Depuis octobre 2015, le PMU et Xebia construisent un datalake. Porté par le département Marketing, le premier Use Case couvre sur la connaissance client et a permis de justifier un ROI en 6 mois.</p>
            
            <div class="col-xs-1">
            <div class="bullet-link"><i class="fa fa-link" aria-hidden="true"></i></div>
            </div>

            <a class="content-link-testimonie" href="http://www.silicon.fr/fnac-devops-limite-pas-outils-162675.html?utm_content=buffer09d3f&utm_medium=social&utm_source=twitter.com&utm_campaign=buffer#uRyvYdw5HQah6eUk.99http://buff.ly/2fg8645" target="_blank">Lien vers l'article</a>
            </div>
        </div>
    </div>


</div>
</div>
