<footer class="XebiaFooter body1">

    <div class="XebiaFooter-social">
        <a href="http://www.linkedin.com/company/xebia-france" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://plus.google.com/100396468532572979348/posts" class="fa fa-google-plus" target="_blank"></a>
        <a href="https://twitter.com/XebiaFr" class="fa fa-twitter" target="_blank"></a>
        <a href="http://fr.slideshare.net/XebiaFrance" class="fa fa-slideshare" target="_blank"></a>
    </div>


    <div class="XebiaFooter-alliance">
        <div class="XebiaFooter-alliance-taglineXebia"></div>
        <div class="XebiaFooter-alliance-taglineAlliance">
            <div class="XebiaFooter-alliance-taglineAlliance-logo">
                <a href="http://alliance.xebia.fr" target="_blank"></a>
            </div>
            <div class="XebiaFooter-alliance-taglineAlliance-members inline-block">
                <div ng-repeat="ally in ::footer.alliance"
                     class="XebiaFooter-alliance-taglineAlliance-members-item">
                    <a href="{{ally.website}}">{{ally.name}}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="XebiaFooter-address">
        <div class="row">
            <div class="col-xs-6 col-md-3"><a ui-sref="home">Xebia France</a></div>
            <div class="col-xs-6 col-md-3"><a href="tel:+33153899999">+33 (0)1 53 89 99 99</a></div>
            <div class="col-xs-6 col-md-3"><a href="mailto:info@xebia.fr">info@xebia.fr</a></div>
            <div class="col-xs-6 col-md-3"><a href="" class="mentions-legales">Mentions légales</a></div>
        </div>
    </div>

</footer>