@import '../../../styles/variables';
@import '../../../styles/mixins';
@import (reference) '../../../styles/mainStyles';

.XebiaFooter {
  text-align: center;
  border-top: 1px solid #bebab8;;
}

.XebiaFooter-social {
  line-height: 125px;

  a:extend(.xebiaRoundButton) {
    color: white;
    ._backgroundColor-withHover(@xebia-medium-grey, @xebia-purple);
  }
}

.XebiaFooter-alliance{}
.XebiaFooter-alliance-taglineXebia {
  height: 100px;
  width: 300px;
  margin: auto;
  background: url('../../../../assets/images/footer-logo-xebia.png') no-repeat;
  background-size: 100%;
}

.XebiaFooter-alliance-taglineAlliance {
  max-width: 700px;
  margin: auto;
  padding: 20px 0;
  border-top: 1px solid #bebab8;
}
.XebiaFooter-alliance-taglineAlliance-logo {
  height: 42px;
  width: 130px;
  background: url('../../../../assets/images/logo-alliance-xebia-long.png') 0 5px no-repeat #ffffff;
}
.XebiaFooter-alliance-taglineAlliance-members {
  font-size: @small-size;
  text-transform: uppercase;
  margin: 14px 0;
  vertical-align: top;

  a {
    .xebiaLink--brown;
  }
}
.XebiaFooter-alliance-taglineAlliance-members-item:last-child span {
  display: none;
}

.XebiaFooter-address {
  padding: 20px 0 10px;
  background-color: @xebia-purple;
  a {
    .xebiaLink--white;
    padding: 0 10px;
  }
}