<footer class="XebiaFooter">

    <div class="XebiaFooter-social">
        <a href="http://www.linkedin.com/company/xebia-france" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://plus.google.com/100396468532572979348/posts" class="fa fa-google-plus" target="_blank"></a>
        <a href="https://twitter.com/XebiaFr" class="fa fa-twitter" target="_blank"></a>
        <a href="http://fr.slideshare.net/XebiaFrance" class="fa fa-slideshare" target="_blank"></a>
    </div>


    <div class="XebiaFooter-alliance">
        <div class="XebiaFooter-alliance-taglineXebia"></div>
        <div class="XebiaFooter-alliance-taglineAlliance">
            <div class="XebiaFooter-alliance-taglineAlliance-logo inline-block">
                <a href="http://alliance.xebia.fr" target="_blank"></a>
            </div>
            <div class="XebiaFooter-alliance-taglineAlliance-members inline-block">
                <span> = </span>
                <span ng-repeat="ally in ::footer.alliance" class="XebiaFooter-alliance-taglineAlliance-members-item">
                    <a href="{{ally.website}}">{{ally.name}}</a>
                    <span> + </span>
                </span>
            </div>
        </div>
    </div>

    <div class="XebiaFooter-address">
        <ul class="list-inline">
            <li class="list-inline-item"><a ui-sref="home">Xebia France</a></li>
            <li class="list-inline-item"><a href="tel:+33153899999">+33 (0)1 53 89 99 99</a></li>
            <li class="list-inline-item"><a href="mailto:info@xebia.fr">info@xebia.fr</a></li>
            <li class="list-inline-item"><a href="" class="mentions-legales">Mentions légales</a></li>
        </ul>
    </div>

</footer>