<footer class="XebiaFooter body1">

    <div class="XebiaFooter-social">
        <div class="XebiaFooter-social-joinUs">
            <xui-button color="cyan">Nous rejoindre</xui-button>
        </div>
        <a href="http://www.linkedin.com/company/xebia-france" class="fa fa-linkedin" target="_blank"></a>
        <a href="https://plus.google.com/100396468532572979348/posts" class="fa fa-google-plus" target="_blank"></a>
        <a href="https://twitter.com/XebiaFr" class="fa fa-twitter" target="_blank"></a>
        <a href="http://fr.slideshare.net/XebiaFrance" class="fa fa-slideshare" target="_blank"></a>
    </div>


    <div class="XebiaFooter-alliance">
        <div class="XebiaFooter-alliance-taglineXebia"></div>
        <div class="XebiaFooter-alliance-taglineAlliance">
            <div class="XebiaFooter-alliance-taglineAlliance-logo">
                <a href="http://alliance.xebia.fr" target="_blank"></a>
            </div>
            <div class="XebiaFooter-alliance-taglineAlliance-members inline-block">
                <span class="hidden-xs">= </span>
                <div ng-repeat="ally in ::footer.alliance"
                     class="XebiaFooter-alliance-taglineAlliance-members-item">
                    <a href="{{ally.website}}" target="_blank">{{ally.name}}</a>
                    <span class="separator hidden-xs">+</span>
                </div>
            </div>
        </div>
    </div>

    <div class="XebiaFooter-address">
        <div class="row">
            <a class="col-xs-12 col-md-6" ui-sref="home">Xebia France</a>
            <a class="col-xs-12 col-md-6" href="tel:+33153899999">+33 (0)1 53 89 99 99</a>
            <a class="col-xs-12 col-md-6" href="mailto:info@xebia.fr">info@xebia.fr</a>
            <a class="col-xs-12 col-md-6 mentions-legales" href="">Mentions légales</a>
        </div>
    </div>

</footer>