<div class="passions">

    <!-- Showcase -->
    <xui-showcase class="passions-showcase"
                  title="passions.showCaseTitle"
                  main-description="passions.showCaseMainDescription">

        <!--Showcase right panel-->
        <div class="passions-showcase-image"></div>
    </xui-showcase>

    <!-- Test your expertise -->

    <div class="quiz row">
        <h1 class="quiz-title">Xebia en quelques citations</h1>

        <!--Tablet & Desktop-->
        <div class="hidden-xs">
            <!-- List to choose the quizz-->
            <div class="quiz-list col-xs-24 col-sm-10 col-md-offset-1 col-md-7">
                <ul class="list-group">
                    <li class="list-group-item"
                        ng-repeat="(index,section) in ::passions.quizSvc.testSections"
                        ng-class="{'active': section.categoryName === passions.quizSvc.currentQuiz.categoryName}">

                        <xui-button color="cyan" ng-click="passions.chooseQuiz(index)">
                            {{section.categoryName}}
                        </xui-button>
                    </li>
                </ul>


            </div>

            <!-- Quiz content-->
            <passion-quiz class="col-xs-24 col-sm-14 col-md-16" content="passions.quizSvc.currentQuiz"></passion-quiz>
        </div>


        <!--Phone-->
        <div class="visible-xs">
            <uib-accordion close-others="true">
                <uib-accordion-group class="quiz-accordion" ng-repeat="(index,section) in ::passions.quizSvc.testSections"
                                     heading="{{section.categoryName}}" ng-click="passions.chooseQuiz(index)">
                    <passion-quiz class="col-xs-24 col-sm-14 col-md-16" content="passions.quizSvc.currentQuiz"></passion-quiz>
                </uib-accordion-group>
            </uib-accordion>
        </div>
    </div>
</div>