@import '../../../xebiaUI/styles/variables';
@import (reference) '../../../xebiaUI/styles/main';

.passions {
}

.passions-showcase-image {
  background: url('../../../assets/images/passions/nospassions.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  margin-left: -15px;
  margin-right: -65px;
}

.quiz {
  padding: 15px 0 50px;
  background-color: @xui-light-grey;

  .quiz-title {
    .xui-title;
  }

  // List to choose a quizz
  .quiz-list {
    padding-right: 0;

    .list-group {
      margin: 0;

      .list-group-item {
        padding: 0;
        border-color: @xui-light-grey;

        // Custom button style
        .xuiButton {
          width: 100%;
          padding: 16px;
          border-radius: 0;
          text-align: left;
        }

        &.active {
          border-color: @xui-light-grey;
          .xuiButton {
            background-color: @xui-purple1;
          }
        }
      }
    }
  }
}

// Shared classes
.question-index {
  border-radius: 50%;
  background-color: #06A99C;
  color: white;
  width: 25px;
  height: 25px;
  padding: 2px;
  text-align: center;
}

.quiz-accordion.panel-default {
  .panel-heading {
    background-color: @xui-purple1;

    .panel-title {
      color: white;
      font-size: 18px;
      font-weight: 300;

      > a {
        text-decoration: none;
        &:focus{
          outline: 0;
        }
      }
    }
  }
  .panel-body {
    padding: 0;
  }
}