@import '../../../xebiaUI/styles/variables';
@import (reference) '../../../xebiaUI/styles/main';

.passions {
}

.passions-showcase-image {
  background: url('../../../assets/images/passions/nospassions.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  margin-left: -15px;
  margin-right: -15px;
}

.quiz {
  padding: 15px 15px 50px;
  background-color: @xui-light-grey;

  .quiz-title {
    .xui-title;
  }

  // List to choose a quizz
  .quiz-list {
    padding-right: 0;

    .list-group {
      margin: 0;

      .list-group-item {
        padding: 0;
        border-color: @xui-light-grey;

        // Custom button style
        .xuiButton {
          width: 100%;
          padding: 16px;
          border-radius: 0;
          text-align: left;
        }

        &.active {
          border-color: @xui-light-grey;
          .xuiButton {
            background-color: @xui-purple1;
          }
        }
      }
    }
  }

  // Current quizz content
  .currentQuiz {
    background-color: white;
    padding: 15px 25px;
    min-height: 385px;

    .currentQuiz-title {
      .xui-body1;
      color: @xui-cyan1;
    }
    .currentQuiz-description {
      padding: 25px 0 25px 50px;
    }
    .currentQuiz-startButton{
      padding-left: 50px;
    }

    .currentQuiz-progress {
      padding: 15px;
      background-color: #6A205F;
      color: @xui-light-grey;
      text-transform: uppercase;
      font-size: 1.2rem;
      margin-left: 50px;
    }
    .currentQuiz-progressBar {
      ._transition(width 0.5s);
      height: 4px;
      width: 0;
      margin-left: 50px;
      background-color: @xui-cyan1;
    }

    // Current question
    .currentQuiz-question {
      margin-top: 30px;
      margin-bottom: 20px;
    }

    .currentQuiz-choices-timer{
      text-align: center;
      font-size: 10rem;
      line-height: 148px;
      color: #e6e6e6;
      font-weight: 700;
    }
    .currentQuiz-choices-list-item {
      margin: 20px 0;
    }

    .answers{
      .answers-libelle{
        padding: 10px 0 30px 35px;
      }
      .list-group {
        margin: 0;

        .answers-item {
          padding: 10px 0;
          border: none;

          .answers-item-content-answer{
            color: @xui-cyan1;
            >span{
              font-weight: 700;
              color: @xui-black;
            }
          }
        }
      }
    }

    // Download the pdf
    .currentQuiz-pdf{
      margin-left: 50px;
      margin-top: 20px;
      padding-top: 20px;
      padding-bottom: 25px;
      border-top: 1px solid @xui-light-grey;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .currentQuiz-pdf-text{
        .xui-body1;
        width: 260px;
      }
      .currentQuiz-pdf-button{
        text-align: right;
        .xuiButton{
          width: 180px;
        }
      }
    }
  }
}



// Shared classes
.question-index {
  border-radius: 50%;
  background-color: #06A99C;
  color: white;
  width: 25px;
  height: 25px;
  padding: 2px;
  text-align: center;
}