.QuelquesChiffres
  clearfix()
  .size-class-width-compact &
    _grid('.StatCard', layout__$gridContainerNumberOfColumns, 2, 1, 3vw)
  .size-class-not-width-compact &
    _grid('.StatCard', layout__$gridContainerNumberOfColumns, 4, 1, 3vw)
