@import 'variables';
@import 'mixins';
@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,700);

/********************************/
/*       Font Shortcuts         */
/********************************/
.fontFamily{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.font-thin{
  .fontFamily;
  font-weight: 100;
}
.font-light{
  .fontFamily;
  font-weight: 300;
}
.font-regular{
  .fontFamily;
  font-weight: 400;
}
.font-bold{
  .fontFamily;
  font-weight: 700;
}


/********************************/
/*          Main classes        */
/********************************/
.xui-display1{
  font-size: 34px;
  .font-light;
  color: white;
}
.xui-headline1{
  font-size: 24px;
  .font-thin;
  color: @xui-light-grey;

  @media (max-width: @screen-phone) {
    font-size: 20px;
  }
}
.xui-headline2{
  .xui-headline1;
  .font-light;
}
.xui-title{
  font-size: 24px;
  .font-regular;
  color: @xui-cyan1;

  @media (max-width: @screen-phone) {
    font-size: 18px;
  }
}
.xui-body1{
  font-size: 14px;
  .font-light;
  color: @xui-black;
}
.xui-body2{
  .xui-body1;
  .font-bold;
}
.xui-caption{
  font-size: 12px;
  .font-regular;
  color: @xui-medium-grey;
}
.xui-menu{
  font-size: 12px;
  .font-regular;
  color: @xui-dark-grey;
  text-transform: uppercase;
}
.xui-social{
  font-size: 12px;
  .font-regular;
  color: @xui-cyan1;
}
.xui-number{
  font-size: 35px;
  .font-bold;
  color: white;

  @media (max-width: @screen-phone) {
    font-size: 26px;
  }
}
.xui-label{
  font-size: 14px;
  .font-thin;
  color: white;

  @media (max-width: @screen-phone) {
    font-size: 12px;
  }
}

// Buttons
.xui-button1{
  .xuiLink(@xui-purple1, white);
}
.xui-button2{
  .xuiLink(white, @xui-cyan1);
}

// Structure and positioning
.inline-block {
  display: inline-block;
}
.no-decoration {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}





/*************************************/
/*         Deprecated                */
/*************************************/

// Shape classes
.xuiShape--round {
  width: 40px;
  height: 40px;
  padding: 12px;
  margin: 0 10px;
  ._border-radius(50%);
}

.xuiLink(@color: @xui-purple1, @hoverColor: @color){
  .no-decoration;
  ._color-withHover(@color, @hoverColor);
}

.xuiLink--white{
  .xuiLink(white);
}
.xuiLink--brown {
  .xuiLink(@xui-brown, @xui-purple1);
}
.xuiLink--purple {
  .xuiLink(@xui-purple1, @xui-medium-grey);
}
.xuiLink-grey{
  .xuiLink(@xui-dark-grey, @xui-cyan1);
}
.xuiLink--black{
  .xuiLink(@xui-dark-grey, @xui-black);
}